<div id="<%= dom_id trail %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= trail.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Extension in meters:</strong>
    <%= trail.extension_in_meters %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Elevation gain in meters:</strong>
    <%= trail.elevation_gain_in_meters %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= trail.city %>
  </div>
</div>
